Schultz_2023_WFS_Chapter_Weinzierl_HdA2nd_IEEE_DEU.pdf
latex/*-chars.sum
latex/*-words.sum
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.thm
*.out
latex/svmult.cls
latex/comment.cut
python/__pycache__
python/*.npz
# python/*.png
tmp
wfs_chapter_hda_release_DEU
wfs_chapter_hda_release_DEU.zip
wfs_chapter_hda_release_ENG
wfs_chapter_hda_release_ENG.zip
python/.idea