*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.thm
*.out
latex/svmult.cls
latex/comment.cut
latex/*-chars.sum
latex/*-words.sum
python/.idea
python/__pycache__
python/*.npz
Schultz_2023_WFS_Chapter_Weinzierl_HdA2nd_IEEE_DEU.pdf
Schultz_2025_WFS_Chapter_Weinzierl_HdA2nd_IEEE_ENG.pdf
wfs_chapter_hda_release_DEU
wfs_chapter_hda_release_DEU.zip
wfs_chapter_hda_release_ENG
wfs_chapter_hda_release_ENG.zip
